* {
    margin:0;
    padding:0;
}
/* all of this CSS styles the homepage */


/* animation for everything on my page except my navigation bar */
@keyframes page-load {
    from {
        opacity:0;
        transform:rotateX(-10deg);
    }

    to {
        opacity:1;
        transform:rotateX(0);
    }
}


/* media query for homepage, i need to make it look good on a mobile device */

@media all and (max-width:916.00px) {

    .image-and-description img {
        width:80%;
        height:80%;
    }

    .image-and-description {
        flex-direction: column;
    }
    

}

@media all and (max-width:1009px) {

    .social-media-links a img {
        width:30px;
        height:30px;
    }
}

@media all and (max-width:955px) {

    .social-media-links a img {
        width:20px;
        height:20px;
    }
}

@media all and (max-width:901px) {
    .social-media-links a img {
        width:15px;
        height:15px;
    }
}


@media all and (max-width:883px) {
    #footer p {
        text-align:left;
    }

    .social-media-links a img {
        display:none;
    }
}

@media all and (max-width:600px) {
    .logo {
        width:40px;
        height:40px;
        float:left;
        padding:0;
        margin:0;
    }

    nav {
        flex-direction: column;
    }

    nav ul li {
        margin-left:55px;
        flex-direction:row;
    }
}

@media all and (max-width:1200px) {
    .what-i-do h3 {
        font-size:13px;
    }
}

@media all and (max-width:1075px) {
    
    .what-i-do h3 {
        font-size:12px;
    }

}

@media all and (max-width:605.60px) {
    .aboutme {
        margin-top:50px;
    }
}


@media all and (max-width:830px) {
    #resume p {
        display:none;
    }
}

@media all and (max-width:830px) {
    #resume img {
        width:350px;
        height:400px;
    }
}

@media all and (max-width:722px) {
    a .button1 {
        text-align:center;
        font-size:12px;
    }
}

@media all and (max-width:495px) {
    a .button1 {
        text-align:center;
        font-size:9px;
    }
}


body {
    animation: page-load 0.75s;
}

nav {
    display:flex;
    justify-content:space-between;
    margin-top:10px;
    animation: nav 0.75s ease-in; /* this avtivates the animation */
}

nav a {
    text-decoration:none;
    text-align:center;
}

.logo {
    margin-left:50px;
    color:black;
    letter-spacing: 3px;
    font-size:20px;
    font-family: 'Jost', sans-serif;
    margin-bottom:10px;
    border:#ffa58a solid 2px;
    border-radius:50%;
}

nav ul li {
    list-style:none;
    display:inline-block;
    margin-right:50px;
    padding-top:22px;
    font-weight:bold;
    font-family: 'Montserrat', sans-serif;
    color:black;
    transition:0.5s;
}

nav ul li:hover {
    color:#ffa58a;
}

.title {
    margin-top:100px;
    padding-left:50px;
    font-size: 55px;
    font-family: 'Oswald', sans-serif;
    letter-spacing: 2px;
    color:#ffa58a;
    -webkit-text-stroke:0.5px #ffa58a; /* adds the stroke to the transparent text */
}

.description {
    padding-left:50px;
    font-family: 'Montserrat', sans-serif;
    font-weight:bold;
    font-style:italic;
    line-height:1.6;
}

.image-and-description {
    display:flex;
    margin-top:80px;
    background-color:#ffa58a;
}

.image-and-description h1 {
    text-align:justify; /* this helps the paragraph be aligned correctly on both sides */
    background-color:#ffa58a;
}

#footer {
    color:white;
    font-family: 'montserrat', sans-serif;
    padding-top:10px;
    padding-bottom:10px;
    background-color:#353535;
    font-weight:bold;
    font-size:15px;
}

.copyright {
    font-weight:100;
    font-size:12px;
    text-align:center;
}

/* this next part of the CSS will style the about page */

#header2 {
    background-color:white;
    position:sticky;
    top:0;
}

.what-i-do {
    margin-top:50px;
    margin-bottom:20px;
    font-family: 'Barlow', sans-serif;
    letter-spacing:2px;
    font-weight:100px;
    font-size:15px;
    line-height:1.6;
    text-align:justify;
    padding-left:50px;
    padding-right:50px;
}

.button1 {
    width: 12.5%;
    margin-top:100px;
    display:block;
    margin:auto;
    text-decoration:none;
    background-color: #d6d6d6; 
    font-size:15px;
    border:transparent;
    padding-top:10px;
    padding-bottom:10px;
    font-family: 'montserrat', sans-serif;
    font-weight:700;
    border-radius:20px;
    margin-bottom:50px;
    transition:0.5s;
}

.button1:hover {
    background-color:#353535;
    color:white;
}

#resume {
    background:linear-gradient(#353535, black)
}


#resume h3 {
    font-size:40px;
    color:white;
    font-family: 'Oswald', sans-serif;
    margin-top:50px;
    text-align:center;
    padding-top:100px;
    padding-bottom:70px;
    letter-spacing:2px;
}

#resume img {
    filter:blur(5px);
    transition: 0.3s;
    display:block;
    margin-right:auto;
    margin-left:auto;
    padding-bottom:70px;
}

#resume img:hover {
    filter:blur(0px);
}

/* this is all the syling for the contact page */

/* navigation bar animations for the contact page */

.navigation-bar-1 nav ul li {
    transition:0.3s;
    color:white;
}

.navigation-bar-1 nav ul li:hover {
    color:#ffa58a;
}

.contact1 {
    background-color:#353535;
}

.contact-me {
    color:white;
}

.contact-intro {
    margin-top:150px;
    text-align:center;
}

.contact-intro h1 {
    font-size:65px;
    font-family: 'Oswald', sans-serif;
    letter-spacing:3px;
}

.contact-intro p {
    font-size:20px;
    font-family: 'Jost', sans-serif;
}

.contact-intro button {
    margin-top:20px;
    padding:10px;
    width:15%;
    border:white;
    border-top-left-radius: 10px;
    border-bottom-right-radius: 10px;
    transition:0.3s;
}

.contact-intro button:hover {
    background-color:#ffa58a;
}

.contact-email {
    margin-top:100px;
    font-family: 'Jost', sans-serif;
    font-size:40px;
}

.socials {
    text-align:center;
    margin-top:200px;
    padding-top:50px;
    background-color:white;
    padding-bottom:50px;
}

.socials h1 {
    font-family: 'Oswald', sans-serif;
    font-size:40px;
    letter-spacing:3px;
}

.socials p {
    margin-top:10px;
    font-family: 'montserrat', sans-serif;
    font-weight:600;
}

.social-media-links-1 img {
    width:60px;
    height:60px;
    transition:0.3s;
}

.social-media-links-1 {
    margin-top:70px;
    display:flex;
    flex-direction:column;
    transition:0.3s;
}

/* socials icon animations */

.social-media-links-1 .img1:hover {
    width:70px;
    height:70px;
}

.social-media-links-1 .img2:hover {
    width:70px;
    height:70px;
}

.social-media-links-1 .img3:hover {
    width:70px;
    height:70px;
}

.social-media-links-1 .img4:hover {
    width:70px;
    height:70px;
}

.copyright-1 {
    font-family: 'montserrat', sans-serif;
    text-align:center;
}
