* {
    margin:0;
    padding:0;
}
/* all of this CSS styles the homepage */


/* animation for everything on my page except my navigation bar */
@keyframes page-load {
    from {
        opacity:0;
        transform:rotateX(-10deg);
    }

    to {
        opacity:1;
        transform:rotateX(0);
    }
}

/* animation for my introduction text */

@keyframes fade-up {
    0% {
        opacity: 0%;
        transform: translateY(0px) scale(0.9);
    }

    100% {
        opacity:1;
        transform:translateY(0px) scale(1);
    }
}

/* media query for homepage, i need to make it look good on a mobile device */

/* it's looking good already, still needs a little bit of work*/

@media all and (max-width:916.00px) {

    .image-and-description img {
        width:80%;
        height:80%;
    }

    .image-and-description {
        flex-direction: column;
    }
    

}

@media all and (max-width:1009px) {

    .social-media-links a img {
        width:30px;
        height:30px;
    }
}

@media all and (max-width:955px) {

    .social-media-links a img {
        width:20px;
        height:20px;
    }
}

@media all and (max-width:901px) {
    .social-media-links a img {
        width:15px;
        height:15px;
    }
}


@media all and (max-width:883px) {
    #footer p {
        text-align:left;
    }

    .social-media-links a img {
        display:none;
    }
}

@media all and (max-width:600px) {
    .logo {
        width:40px;
        height:40px;
        float:left;
        padding:0;
        margin:0;
    }

    nav {
        flex-direction: column;
    }

    nav ul li {
        margin-left:55px;
        flex-direction:row;
        flex-direction: column;
    }
}

@media all and (max-width:984px) {
    nav ul li {
        font-size:15px;
    }
}

@media all and (max-width:605.60px) {
    .aboutme {
        margin-top:50px;
    }
}

@media all and (max-width:406px) {
        .what-i-do {
            padding-left:none;
            padding-right:none;
        }
}
  

@media all and (max-width:830px) {
    #resume p {
        display:none;
    }
}

@media all and (max-width:830px) {
    #resume img {
        width:350px;
        height:400px;
    }
}

@media all and (max-width:722px) {
    a .button1 {
        text-align:center;
        font-size:12px;
    }
}

@media all and (max-width:495px) {
    a .button1 {
        text-align:center;
        font-size:9px;
    }
}


body {
    animation: page-load 0.75s;
}

html {
    scroll-behavior:smooth;
}

.navigation-bar {
    position:sticky;
    top:0;
}

nav {
    display:flex;
    justify-content:space-between;
    padding-top:10px;
    animation: nav 0.75s ease-in; /* this avtivates the animation */
    background-color:#353535;
}

nav a {
    text-decoration:none;
    text-align:center;
}

.logo {
    margin-left:50px;
    color:black;
    letter-spacing: 3px;
    font-size:20px;
    font-family: 'Jost', sans-serif;
    margin-bottom:10px;
    border:#ffa58a solid 2px;
    border-radius:50%;
    transition:0.3s;
}

.logo:hover {
    scale:1.1;
}

nav ul li {
    list-style:none;
    display:inline-block;
    margin-right:50px;
    padding-top:17px;
    letter-spacing:1px;
    color:white;
    transition:0.3s;
    font-family: "Inter", sans-serif;
}

nav ul li:hover {
    color:#ffa58a;
    font-size:17px;
    cursor:pointer;
}

.title {
    margin-top:275px;
    text-align:center;
    font-size: 55px;
    font-family: "Inter", sans-serif;
    letter-spacing: 2px;
    color:#ffa58a;
    -webkit-text-stroke:0.5px #ffa58a; /* adds the stroke to the transparent text */
    animation:fade-up 0.5s;
}

.description {
    font-family: "Open Sans", sans-serif;
    font-weight:bold;
    line-height:1.6;
    text-align:center;
    animation:fade-up 0.5s;
}

#about-me {
    display:flex;
    margin-top:300px;
    background-color:#ffa58a;
}

#about-me h1 {
    text-align:justify; /* this helps the paragraph be aligned correctly on both sides */
    background-color:#ffa58a;
    font-family: "Open Sans", sans-serif;
    font-weight:700;
}

.copyright {
    font-weight:700;
    font-size:12px;
    text-align:center;
    font-family: "Inter", sans-serif;
    background-color:#353535;
    padding-top:10px;
    padding-bottom:10px;
    color:white;
    letter-spacing:1px;
}

/* this next part of the CSS will style the about page */

.button1 {
    width:20%;
    margin-top:50px;
    text-decoration:none;
    background-color: #d6d6d6; 
    font-size:12px;
    border:transparent;
    padding-top:10px;
    padding-bottom:10px;
    font-family: 'montserrat', sans-serif;
    font-weight:bold;
    border-radius:20px;
    transition:0.5s;
}

.button1:hover {
    background-color:#353535;
    color:white;
    width:22%;
    cursor:pointer;
}

#resume {
    background:linear-gradient(#353535, black);
}

#resume h3 {
    font-size:40px;
    color:white;
    margin-top:50px;
    text-align:center;
    padding-top:100px;
    padding-bottom:70px;
    letter-spacing:2px;
}

#resume img {
    filter:blur(5px);
    transition: 0.3s;
    display:block;
    margin-right:auto;
    margin-left:auto;
}

#resume img:hover {
    filter:blur(0px);
}

/* this is all the syling for the contact page */

/* navigation bar animations for the contact page */

.navigation-bar-1 nav ul li {
    transition:0.3s;
    color:white;
}

.navigation-bar-1 nav ul li:hover {
    color:#ffa58a;
}

.contact1 {
    background-color:#353535;
}

.contact-me {
    color:white;
}

.contact-intro {
    margin-top:150px;
    text-align:center;
}

.contact-intro h1 {
    font-size:65px;
    font-family: 'Oswald', sans-serif;
    letter-spacing:3px;
}

.contact-intro p {
    font-size:20px;
    font-family: 'Jost', sans-serif;
}

.contact-intro button {
    margin-top:20px;
    padding:10px;
    width:15%;
    border:white;
    border-top-left-radius: 10px;
    border-bottom-right-radius: 10px;
    transition:0.3s;
}

.contact-intro button:hover {
    background-color:#ffa58a;
}

.contact-email {
    margin-top:100px;
    font-family: 'Jost', sans-serif;
    font-size:40px;
}

.socials {
    text-align:center;
    margin-top:200px;
    padding-top:50px;
    background-color:white;
    padding-bottom:200px;
}

.socials h1 {
    font-family: "Inter", sans-serif;
    font-size:40px;
    letter-spacing:3px;
}

.socials p {
    margin-top:10px;
    font-family: "Open Sans", sans-serif;
    font-weight:600;
}

.social-media-links-1 img {
    width:60px;
    height:60px;
    transition:0.3s;
}

.social-media-links-1 {
    margin-top:70px;
    display:flex;
    flex-direction:column;
    transition:0.3s;
}

.social-media-links-1 li {
    list-style:none;
}

/* socials icon animations */

.social-media-links-1 .img1:hover {
    scale:1.15;
}

.social-media-links-1 .img2:hover {
    scale:1.15;
}

.social-media-links-1 .img3:hover {
    scale:1.15;
}

.social-media-links-1 .img4:hover {
    scale:1.15;
}

#backtotop {
    margin-left:50px;
    padding:10px;
    font-family: 'Jost', sans-serif;
    width:15%;
    text-decoration:none;
    list-style: none;
    font-weight:900;
    border-radius:20px;
    border:transparent;
    background-color: #d6d6d6;
    transition:0.5s;
    margin-bottom:20px;
}

#backtotop:hover {
    width:17%;
    color:white;
    background-color:black;
    cursor:pointer;
}

a {
    text-decoration:none;
}

.copyright-1 {
    font-family: 'montserrat', sans-serif;
    text-align:center;
}
