* {
    margin:0;
    padding:0;
}

/* all of this CSS styles the homepage */


/* animation for everything on my page except my navigation bar */
@keyframes page-load {
    from {
        opacity:0;
        transform:rotateX(-10deg);
    }

    to {
        opacity:1;
        transform:rotateX(0);
    }
}

/* animation for my introduction text */

@keyframes fade-up {
    0% {
        opacity: 0%;
        transform: translateY(0px) scale(0.9);
    }

    100% {
        opacity:1;
        transform:translateY(0px) scale(1);
    }
}

/* media query for homepage, i need to make it look good on a mobile device */


@media all and (max-width:865px) {

    .description {
        font-size:15px;
    }
}

@media all and (max-width:1050px) {
    #about-me {
        flex-direction:column;
    }
}

@media all and (max-width:602px) {
    .title h1 {
        font-size:15px;
    }

    .description {
        font-size:13.5px;
    }
}

@media all and (max-width:1440px) {
    #about-me img {
        display:none;
    }
}

@media all and (max-width:549px) {
    #resume img {
        width:320px;
        height:450px;
    }
}

@media all and (max-width:739px) {
    .button1 {
        display:block;
        margin:auto;
    }
}

@media all and (max-width:720px) {
    .button1 {
        width:12%;
    }
}

@media all and (max-width:460px) {
    nav {
        flex-direction:column;
    }

    .logo {
        float:left;
    }
    
    nav ul li {
        margin-left:25px;
        padding-bottom:20px;
        font-size:8px;
    }
}

/* Styling for homepage */

body {
    animation: page-load 0.75s;
    cursor: url('./images/cursor.png'), auto;
}

html {
    scroll-behavior:smooth;
}

.navigation-bar {
    position:sticky;
    top:0;
}

nav {
    display:flex;
    justify-content:space-between;
    padding-top:10px;
    animation: nav 0.75s ease-in; /* this avtivates the animation */
    background-color:#353535;
}

nav a {
    text-decoration:none;
    text-align:center;
}

.logo {
    margin-left:50px;
    color:black;
    letter-spacing: 3px;
    font-size:20px;
    font-family: 'Jost', sans-serif;
    margin-bottom:10px;
    border:#ffa58a solid 2px;
    border-radius:50%;
    transition:0.3s;
}

.logo:hover {
    scale:1.1;
    cursor: pointer;
}

nav ul li {
    list-style:none;
    display:inline-block;
    margin-right:50px;
    padding-top:17px;
    letter-spacing:1px;
    color:white;
    transition:0.3s;
    font-family: "Inter", sans-serif;
}

nav ul li:hover {
    color:#ffa58a;
    font-size:17px;
    cursor:pointer;
}

.title {
    margin-top:275px;
    text-align:center;
    font-size: 55px;
    font-family: "Inter", sans-serif;
    letter-spacing: 2px;
    color:#ffa58a;
    animation:fade-up 0.5s;
    transition:0.2s;
}

.title:hover {
    cursor: url('./images/cursor1.png'), auto;
}

.description {
    font-family: "Open Sans", sans-serif;
    font-weight:bold;
    line-height:1.6;
    text-align:center;
    animation:fade-up 0.5s;
}

#about-me {
    display:flex;
    margin-top:300px;
    background-color:#ffa58a;
}

#about-me:hover {
    cursor: url('./images/cursor1.png'), auto;
}

#about-me h1 {
    text-align:justify; /* this helps the paragraph be aligned correctly on both sides */
    background-color:#ffa58a;
    font-family: "Open Sans", sans-serif;
    font-weight:700;
}

.copyright {
    font-weight:700;
    font-size:12px;
    text-align:center;
    font-family: "Inter", sans-serif;
    background-color:#353535;
    padding-top:10px;
    padding-bottom:10px;
    color:white;
    letter-spacing:1px;
}

/* this next part of the CSS will style the about page */

.button1 {
    width:20%;
    margin-top:50px;
    text-decoration:none;
    background-color: #d6d6d6; 
    font-size:12px;
    border:transparent;
    padding-top:10px;
    padding-bottom:10px;
    font-family: 'montserrat', sans-serif;
    border-radius:20px;
    transition:0.5s;
}

.button1:hover {
    background-color:#353535;
    color:white;
    width:22%;
    cursor:pointer;
}

#resume {
    background:linear-gradient(#353535, black);
}

#resume h3 {
    font-size:40px;
    color:white;
    margin-top:50px;
    text-align:center;
    padding-top:100px;
    padding-bottom:70px;
    letter-spacing:2px;
}

#resume img {
    filter:blur(5px);
    transition: 0.3s;
    display:block;
    margin-right:auto;
    margin-left:auto;
}

#resume img:hover {
    filter:blur(0px);
}

/* this is all the syling for the contact page */

/* navigation bar animations for the contact page */

.navigation-bar-1 nav ul li {
    transition:0.3s;
    color:white;
}

.navigation-bar-1 nav ul li:hover {
    color:#ffa58a;
}

.socials {
    text-align:center;
    margin-top:200px;
    padding-top:50px;
    background-color:white;
    padding-bottom:200px;
}

.socials h1 {
    font-family: "Inter", sans-serif;
    font-size:40px;
    letter-spacing:3px;
}

.socials p {
    margin-top:10px;
    font-family: "Open Sans", sans-serif;
    font-weight:600;
}

.social-media-links-1 img {
    width:60px;
    height:60px;
    transition:0.3s;
}

.social-media-links-1 {
    margin-top:70px;
    display:flex;
    flex-direction:column;
    transition:0.3s;
}

.social-media-links-1 li {
    list-style:none;
}

/* socials icon animations */

.social-media-links-1 .img1:hover {
    scale:1.15;
}

.social-media-links-1 .img2:hover {
    scale:1.15;
}

.social-media-links-1 .img3:hover {
    scale:1.15;
}

.social-media-links-1 .img4:hover {
    scale:1.15;
}

#backtotop {
    margin-left:50px;
    padding:10px;
    font-family: 'Jost', sans-serif;
    width:15%;
    text-decoration:none;
    list-style: none;
    border-radius:20px;
    border:transparent;
    background-color: #d6d6d6;
    transition:0.5s;
    margin-bottom:20px;
}

#backtotop:hover {
    width:17%;
    color:white;
    background-color:black;
    cursor:pointer;
}

a {
    text-decoration:none;
}

.copyright-1 {
    font-family: 'montserrat', sans-serif;
    text-align:center;
}
